.lang-container {
  position: fixed;
  top: 30px;
  left: 30px;
  color: #fff;
  z-index: 1;
}

.lang-container ul {
  display: flex;
  list-style: none;
}

.lang-container ul li:not(:last-child)::after {
  content: "|";
  margin: 0px 5px;
}

.lang-container ul li label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* .lang-container ul li label::after {
  content: "_";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 50%;
  background-color: #08376e;
} */
